# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/moneflow?schema=public"

# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-in-production-min-32-chars"
JWT_EXPIRES_IN="7d"

# App
DEFAULT_USER_BALANCE=100000
IDEMPOTENCY_TTL_HOURS=24